[submodule "one-skill-to-rule-them-all"]
	path = one-skill-to-rule-them-all
	url = https://github.com/p00318821-eng/one-skill-to-rule-them-all.git
[submodule "mattpocock/skills"]
	path = mattpocock/skills
	url = https://github.com/mattpocock/skills.git
[submodule "changyuanyu/mbti-persona-skill"]
	path = changyuanyu/mbti-persona-skill
	url = https://github.com/ChangyuanYU/mbti-persona-skill.git
